@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main_container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.menu_title_container {
    color: whitesmoke;
    text-align: center;
}

.menu {
    flex: 1;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-items: center;
    overflow: auto;
    
}

.content {
    display: flex;
    flex-direction: column;
    flex: 5;
    background-color: #EAEAEA;
}

.content_title {
    background-color: #2C2C2C;
    color: whitesmoke;
    padding: 0 40px;
}

.info {
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
}

li {
    align-self: center;
    background-color: #464646;
    list-style-type: none;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    color: whitesmoke;
    transition: 0.3s;
}

li:hover {
    background-color: #3e8e41;
    color: white;
}

.title {
    font-family: 'Montserrat', sans-serif;
}

